In [1]:
import pymongo

In [3]:
myclients = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclients["mydatabase"]

In [5]:
print(myclients.list_database_names())

['admin', 'config', 'local']

In [7]:
dblist = myclients.list_database_names()
if "mydatabase" in dblist:
    print("The database exists.")

In [11]:
import pymongo

myclients = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclients["mydatabase"]

mycol = mydb["customers"]

In [12]:
print(mydb.list_collection_names())

['customers']

In [16]:
collist = mydb.list_collection_names()
if "custmoers" in collist:
    print("The collection exists.")

In [15]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)
print(x)

<pymongo.results.InsertOneResult object at 0x000002055DDAD4C0>

In [17]:
mydict = {"name": "peter","address":"lowstreet 27"}

x = mycol.insert_one(mydict)

print(x.inserted_id)

64d084d9c69629f1f6190362

In [18]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[ObjectId('64d088e0c69629f1f6190364'), ObjectId('64d088e0c69629f1f6190365'), ObjectId('64d088e0c69629f1f6190366'), ObjectId('64d088e0c69629f1f6190367'), ObjectId('64d088e0c69629f1f6190368'), ObjectId('64d088e0c69629f1f6190369'), ObjectId('64d088e0c69629f1f619036a'), ObjectId('64d088e0c69629f1f619036b'), ObjectId('64d088e0c69629f1f619036c'), ObjectId('64d088e0c69629f1f619036d'), ObjectId('64d088e0c69629f1f619036e'), ObjectId('64d088e0c69629f1f619036f')]

In [19]:
import pymongo

myclients = pymongo.MongoClient["mydatabase"]
mydb = myclient["mydatabase"]
mycol = mydb["customers"]
mylist = [
{ "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [20]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol= mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}

In [22]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
    print(x)

{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d08274c69629f1f6190361'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190364'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d088e0c69629f1f6190365'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d088e0c69629f1f6190366'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d088e0c69629f1f6190367'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d088e0c69629f1f6190368'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d088e0c69629f1f619036a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d088e0c69629f1f619036b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d088e0c69629f1f619036c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d088e0c69629f1f619036d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d088e0c69629f1f619036e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
import pymongo

myclient = pymongo.mon

In [23]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'peter', 'address': 'lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [25]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address": "Park Lane 38" }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d088e0c69629f1f619036c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [26]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address":{"$gt":"S"} }

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190366'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d088e0c69629f1f619036b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [29]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address":{"$regex": "^S"}}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")

for x in mydoc:
    print(x)

{'_id': ObjectId('64d088e0c69629f1f6190364'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d088e0c69629f1f619036c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d088e0c69629f1f6190368'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d088e0c69629f1f619036e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d088e0c69629f1f6190365'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d08274c69629f1f6190361'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d088e0c69629f1f6190366'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d088e0c69629f1f6190367'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d088e0c69629f1f619036a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d088e0c69629f1f619036b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d088e0c69629f1f619036d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}

In [31]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name",-1)

for x in mydoc:
    print(x)

{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f619036d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('64d088e0c69629f1f619036b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d088e0c69629f1f619036a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d088e0c69629f1f6190367'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190366'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d08274c69629f1f6190361'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d088e0c69629f1f6190365'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d088e0c69629f1f619036e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d088e0c69629f1f6190368'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d088e0c69629f1f619036c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d088e0c69629f1f6190364'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}

In [32]:
import pymongo 
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address": "valley 345"}
newvalues ={"$set":{"address":"Canyon 123"}}

mycol.update_one(myquery , newvalues)

for x in mycol.find():
    print(x)

{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d08274c69629f1f6190361'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190364'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d088e0c69629f1f6190365'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('64d088e0c69629f1f6190366'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('64d088e0c69629f1f6190367'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('64d088e0c69629f1f6190368'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('64d088e0c69629f1f6190369'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('64d088e0c69629f1f619036a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('64d088e0c69629f1f619036b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('64d088e0c69629f1f619036c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('64d088e0c69629f1f619036d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('64d088e0c69629f1f619036e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('64d088e0c69629f1f619036f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [33]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address":{"$regex":"^S"} }
newvalues = {"$set" :{"name":"Minnie"} }

x = mycol.update_many(myquery , newvalues)

print(x.modified_count,"documents update")

4 documents update

In [34]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myresult = mycol.find().limit(5)

for x in myresult:
    print(x)

{'_id': ObjectId('64d08201c69629f1f619035f'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d08274c69629f1f6190361'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('64d084d9c69629f1f6190362'), 'name': 'peter', 'address': 'lowstreet 27'}
{'_id': ObjectId('64d088e0c69629f1f6190364'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('64d088e0c69629f1f6190365'), 'name': 'Hannah', 'address': 'Mountain 21'}

In [35]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address" : "mountain 21" }

mycol.delete_one(myquery)

In [36]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery ={"address": {"$regex":"^S"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, "documents deleted.")

4 documents deleted.

In [37]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.delete_many({})

print(x.deleted_count, "documents deleted")

25 documents deleted

In [38]:
import pymongo 

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mycol.drop()