In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

ProgrammingError: 1045 (28000): Access denied for user 'yourusername'@'localhost' (using password: NO)

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE mydatabase")

In [4]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "",
    database = "mydatabase"
)

In [7]:
# create table
import mysql.connector 
mydb = mysql.connector.connect(
    host="localhost",
    user = "root",
    password="",
    database = "mydatabase"
) 
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
       host="localhost",
       user= "root",
       password ="",
       database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
    print(x)

('customers',)

In [15]:
import  mysql.connector

mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="",
      database="mydatabase"
 )
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE client (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [17]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [27]:
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
   user="root",
   password="",
   database="mydatabase"
)

mycursor = mydb.cursor()


sql = "INSERT INTO client (name,address) VALUES (%s, %s)"
val = ("john","highway 21")
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount,"record insertes.")

1 record insertes.

In [28]:
import mysql.connector

mydb = mysql.connector.connect(
   host="localhost",
   user="root",
   password="",
   database="mydatabase"
)

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")

13 was inserted.

In [5]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO client (name,address) VALUES (%s , %s)"
val = ("Michelle","Blue Village")
mycursor.execute(sql,val)

mydb.commit()

print("1 record inserted ID:", mycursor.lastrowid)

1 record inserted ID: 4

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4', 1)
('Amy', 'Apple st 652', 2)
('Hannah', 'Mountain 21', 3)
('Michael', 'Valley 345', 4)
('Sandy', 'Ocean blvd 2', 5)
('Betty', 'Green Grass 1', 6)
('Richard', 'Sky st 331', 7)
('Susan', 'One way 98', 8)
('Vicky', 'Yellow Garden 2', 9)
('Ben', 'Park Lane 38', 10)
('William', 'Central st 954', 11)
('Chuck', 'Main Road 989', 12)
('Viola', 'Sideway 1633', 13)

In [34]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT name, address from customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [2]:
import mysql.connector 

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql = "INSERT INTO client (name,address) VALUES (%s ,%s)"
val = ("Michelle","Blue village")
mycursor.execute(sql , val)

mydb.commit()

print("1 record inserted, ID:" , mycursor.lastrowid)

1 record inserted, ID: 3

In [3]:
import mysql.connector 

mydb = mysql.connector .connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM client")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'john', 'highway 21')
(2, 'Michelle', 'Blue Village')
(3, 'Michelle', 'Blue village')

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT name, address FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Peter', 'Lowstreet 4')
('Amy', 'Apple st 652')
('Hannah', 'Mountain 21')
('Michael', 'Valley 345')
('Sandy', 'Ocean blvd 2')
('Betty', 'Green Grass 1')
('Richard', 'Sky st 331')
('Susan', 'One way 98')
('Vicky', 'Yellow Garden 2')
('Ben', 'Park Lane 38')
('William', 'Central st 954')
('Chuck', 'Main Road 989')
('Viola', 'Sideway 1633')

In [12]:
import mysql.connector 

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchone()

print(myresult)

('Peter', 'Lowstreet 4', 1)

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
      host = "localhost",
      user="root",
      password="",
      database="mydatabase",
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address = 'park Lane 38'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Ben', 'Park Lane 38', 10)

In [17]:
import mysql.connector

mydb= mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
    
)
mycursor=mydb.cursor()

sql = "SELECT * FROM  customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'One way 98', 8)
('Viola', 'Sideway 1633', 13)

In [20]:
import mysql.connector

mydb=mysql.connector.connect(
     host = "localhost",
     user = "root",
     password="",
     database = "mydatabase",
)

mycursor = mydb.cursor()

sql= "SELECT * FROM  customers WHERE address= %s"
adr = ("Yellow Garden 2",)

mycursor.execute(sql,adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 9)

In [21]:
import mysql.connector 

mydb= mysql.connector.connect(
       host="localhost ",
       user="root",
       password="",
       database="mydatabase"
    
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers WHERE address LIKE '%way%'"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Susan', 'One way 98', 8)
('Viola', 'Sideway 1633', 13)

In [23]:
import mysql.connector 

mydb = mysql.connector.connect(
       host="localhost",
       user="root",
       password="",
       database="mydatabase"

)

mycursor = mydb.cursor()

sql="SELECT * FROM customers WHERE address = %s"
adr = ("yellow Garden 2 ",)

mycursor.execute(sql,adr)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Vicky', 'Yellow Garden 2', 9)

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="",
        database="mydatabase"
    
)

mycursor = mydb.cursor()

sql = "SELECT * FROM customers ORDER BY name"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('Amy', 'Apple st 652', 2)
('Ben', 'Park Lane 38', 10)
('Betty', 'Green Grass 1', 6)
('Chuck', 'Main Road 989', 12)
('Hannah', 'Mountain 21', 3)
('Michael', 'Valley 345', 4)
('Peter', 'Lowstreet 4', 1)
('Richard', 'Sky st 331', 7)
('Sandy', 'Ocean blvd 2', 5)
('Susan', 'One way 98', 8)
('Vicky', 'Yellow Garden 2', 9)
('Viola', 'Sideway 1633', 13)
('William', 'Central st 954', 11)

In [25]:
import mysql.connector 

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mydatabase"
)

mycursor = mydb.cursor()

sql= "SELECT * FROM customers ORDER BY name DESC"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

('William', 'Central st 954', 11)
('Viola', 'Sideway 1633', 13)
('Vicky', 'Yellow Garden 2', 9)
('Susan', 'One way 98', 8)
('Sandy', 'Ocean blvd 2', 5)
('Richard', 'Sky st 331', 7)
('Peter', 'Lowstreet 4', 1)
('Michael', 'Valley 345', 4)
('Hannah', 'Mountain 21', 3)
('Chuck', 'Main Road 989', 12)
('Betty', 'Green Grass 1', 6)
('Ben', 'Park Lane 38', 10)
('Amy', 'Apple st 652', 2)

In [26]:
import mysql.connector

mydb= mysql.connector.connect(
      host="localhost",
      user="root",
      password="",
      database="mydatabase"
)

mycursor = mydb.cursor()

sql="DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s)deleted")

1 record(s)deleted

In [27]:
import mysql.connector 

mydb=mysql.connector.connect(
          host="localhost",
          user="root",
          password="",
          database="mydatabase "
)
mycursor = mydb.cursor()

sql = "DELETE FROM customers WHERE address = %s"
adr = ("yellow Garden 2 ",)

mycursor.execute(sql, adr)

mydb.commit()

print(mycursor.rowcount,"record(s) deleted")

1 record(s) deleted

In [32]:
import mysql.connector

mydb = mysql.connector.connect(
        host= "localhost",
        user = "root",
        password="",
        database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM client")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(1, 'john', 'highway 21')
(2, 'Michelle', 'Blue Village')
(3, 'Michelle', 'Blue village')
(4, 'Michelle', 'Blue Village')

In [38]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database=""
)

mycursor = mydb.cursor()

sql = "SELECT\ 
        user.name AS user,\
        products.name AS favorite \
        FROM users \
        INNER JOIN product ON users.fav = product.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)
    
    
import mysql.connector 

mydb =mysql.connector.connect(

      host ="localhost",
      user="root",
      password="",
      database="mydatabase"
)
mycursor = mydb.cursor()

sql= "SELECT \
      user.name AS user, \
      products.name AS favorite\
      FROM user\
      INNER JOIN product ON  user.fav = produts.id"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

SyntaxError: EOL while scanning string literal (3690391741.py, line 12)

In [1]:
 a = "hello world!"
print(a.split(","))

['hello world!']

In [2]:
a = "hello"
b = "world"
c = a+b
print(c)

helloworld

In [3]:
a = "hello"
b ="world"
c = a +" "+b
print (c)

hello world

In [4]:
quantity = 3
itemno = 567
price = 49.57
myorder ="I want {} pieces of item {} for {} dollars."
print(myorder.format (quantity , itemno , price))

I want 3 pieces of item 567 for 49.57 dollars.

In [6]:
quantity = 3
itemno = 567
price = 49.98
myorder = "I want to pay {2} dollars {0} pieces of item{1}."
print(myorder.format(quantity , itemno , price))

I want to pay 49.98 dollars 3 pieces of item567.

In [ ]:
print(10>9)
print(10==9)