In [2]:
# connection created
import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000232B93E0550>

In [3]:
# create database
mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password=""
)

mycursor= mydb.cursor()

mycursor.execute("CREATE DATABASE mynewdatabase")

In [4]:
# check database exsists
mydb = mysql.connector.connect(
     host="localhost",
     user="root",
     password=""
)

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('client',)
('information_schema',)
('mydatabase',)
('mynewdatabase',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

In [5]:
# or you can try to access 
mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password="",
      database="mynewdatabase"
    
)

In [6]:
# creating table
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="mynewdatabase"
    
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE emp (name VARCHAR(255), address VARCHAR(255) , DOB DATE , ID INT(11))")

In [7]:
# check table exsit or not
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="mynewdatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('emp',)

In [20]:
mydb = mysql.connector.connect(
      host = "localhost",
      user = "root",
      password="",
      database="mynewdatabase"
)

mycursor = mydb.cursor()


sql = "INSERT INTO emp (name,address,DOB,1) VALUES (%s ,%s, %s, %s)"
val = ("KHUSHBU","VADODRA","5/2/2000","1"
      "hinal","vadodara","6/5/2001","2"
      "Archita","vadodara","8/7/2014","3")

mycursor.execute(sql  ,val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

ProgrammingError: Not all parameters were used in the SQL statement