In [10]:
location = "Location_A"
movement_details = "Stock increased by 100 units."
file_path = f"/stock_movements/{location}_movements.txt"

with open("D:\Data\stock_movement.txt", "a") as file:
    file.write(movement_details + "\n")

In [11]:
def display_stock_movements(location):
    file_path = f"/stock_movements/{location}_movements.txt"
    
    try:
        with open("D:\Data\stock_movement.txt", "r") as file:
            movements = file.readlines()
            for movement in movements:
                print(movement.strip())
    except FileNotFoundError:
        print("No stock movement data available for this location.")

# Call the function with the desired location
display_stock_movements("Location_A")

ÿþs r . n o 	 p r o d u c t   n a m e 	 	 s t o c k   q u a n t i t y 	 	 p r i c e 
 
 1 	 T . V 	 	 4 	 	 " 4 5 , 0 0 0 " 
 
 2 	 S P E E K E R 	 	 5 	 	 " 6 7 , 0 0 0 " 
 
 3 	 C E L L   P H 0 N E 	 	 8 	 	 " 8 9 , 0 0 0 " 
 
 4 	 H E A D P H O N E 	 	 7 	 	 " 1 , 0 0 , 0 0 0 " 
 
 5 	 W I R E 	 	 9 	 	 " 4 , 5 0 , 0 0 , 0 0 0 " 
 
 6 	 B L U E T O O T H 	 	 4 	 	 " 6 , 0 0 , 0 0 , 0 0 0 " 
 
 7 	 I P A D 	 	 6 	 	 " 7 0 , 0 0 , 0 0 0 " 
 
 8 	 M A C B O O K 	 	 2 	 	 " 8 9 , 0 0 0 " 
 
 9 	 L A P T O P 	 	 4 	 	 " 9 , 0 0 , 0 0 0 " 
 
 1 0 	 C H A R G E R 	 	 6 	 	 " 7 8 , 0 0 , 0 0 , 0 0 0 " 
 
 Stock increased by 100 units.

In [13]:
# excercise 4
class order:
    def __init__(members, number,date,company,billing,shipping,total_amount,order_lines):
        members.number = number
        members.date = date
        members.company = company
        members.billing = billing
        members.shipping = shipping
        members.total_amount = total_amount
        members.order_lines = order_lines
        
p1 = order(121,"4/5/2023","horizontal",525,"ahemdabad",520000,858)

print(p1.number)
print(p1.date)
print(p1.company)
print(p1.billing)
print(p1.shipping)
print(p1.total_amount)
print(p1.order_lines)

121
4/5/2023
horizontal
525
ahemdabad
520000
858

In [14]:
class customer:
   cc = "company"
   cc1 = "billing"
   cc2 = "shipping"

p1 = customer()
p2 = customer()
p3 = customer()

print(p1.cc)
print(p2.cc1)
print(p3.cc2)

company
billing
shipping

In [45]:
from datetime import datetime

def is_future_date(date_str):
    try:
        input_date = datetime.strptime(date_str, "%Y-%m-%d")
        current_date = datetime.now().date()
        
        if input_date >= current_date:
            return True
        else:
            return False
    except ValueError:
        return False

date_input = input("Enter a date in the format YYYY-MM-DD:")
if is_future_date(date_input):
    print("The date is either today or in the future.")
else:
    print("The date is in the past.")

TypeError: 'str' object is not callable

enter your date

In [47]:
def calculate_total(products):
    total_amount = 0
    for product in products:
        price = product["price"]
        quantity = product["quantity"]
        total_amount += price * quantity
        print(total_amount)
        
        
order_products = [
         {"name":"T.V","price":10, "quantity":3},
         {"name":"Laptop","price":56,"quantity":5 },
         {"name": "iphone","price":89,"quantity":6 }
] 

total_amount = calculate_total(order_products)
print(f"Total amount for the order: ${total_amount}")

30
310
844
Total amount for the order: $None

In [51]:
class OrderLine:
    def __init__(self, product, price, quantity):
        self.product = product
        self.price = price
        self.quantity = quantity

def calculate_total(order_lines):
    total_amount = 0
    for line in order_lines:
        total_amount += line.price * line.quantity
    print(total_amount)

# Example usage
order_lines = [
    OrderLine("Product A", 10, 3),
    OrderLine("Product B", 20, 2),
    OrderLine("Product C", 5, 10)
]

total_amount = calculate_total(order_lines)
print(f"Total amount for the order: ${total_amount}")

Total amount for the order: $120

In [55]:
#ex.E002 
class customer:
    def __init__(members,name,email,phone,street,city,state,country,type):
        members.name = name
        members.email = email
        members.phone = phone
        members.street = street
        members.city = city
        members.state = state
        members.country = country
        members.type = type
        
p1 = customer("khushbu","khushbu.khadadhar5@gmail.com","8849578746","main road","Amreli","Gujrat","india","cut")

print(p1.name)
print(p1.email)
print(p1.phone)
print(p1.street)
print(p1.city)
print(p1.state)
print(p1.country)
print(p1.type)

khushbu
khushbu.khadadhar5@gmail.com
8849578746
main road
Amreli
Gujrat
india
cut

In [60]:
def validate_type(type_str):
    allowed_type =["company","contact","billing","shipping"]
    return type_str in allowed_types


input_type = input("enter the type(company,contact,billing,shipping)").lower()

if validate_type(input_type):
    print("type is valid.")
    
    
else:
    print("type is not valid.")

TypeError: 'str' object is not callable

In [61]:
import re

def validate_phone_number(phone_number):
    
    pattern = r'^(\+\d{1,2}-?)?\d{3}-?\d{3}-?\d{4}$'
    return re.match(pattern, phone_number) is not None

def validate_email(email):
    
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None


input_phone = input("Enter a phone number: ")
input_email = input("Enter an email address: ")

if validate_phone_number(input_phone):
    print("Phone number is valid.")
else:
    print("Phone number is not valid.")

if validate_email(input_email):
    print("Email address is valid.")
else:
    print("Email address is not valid.")

TypeError: 'str' object is not callable

In [63]:
import re

def validate_input(input_str):

    pattern = r'^[a-zA-z\s]+$'
    return re.match(pattern, input_str)is not None

name = input("enter a name:")
city = input ("enter a city:")
state = input ("enter a state:")
country= input ("enter a country:")

if all(validate_input(value) for value in [name,city,state,country]):
     print("All input are valid.")
        
else:
    print("At least one input is not valid")
    
    
    
import re

def validate_input(input_str):
    
    pattern = r'^[a-zA-z\s]+$
    return re.match(pattern, input_str)is not none

TypeError: 'str' object is not callable

In [64]:
class OrderLine:
    def __init__(self,order,product,quantity,price,subtotal):
        self.order = order
        self.product = product 
        self.quantity = quantity
        self.price  = price
        self.subtotal = subtotal
        
        
p1 = OrderLine(2,"SmartWatch",2,15000,17000)    


print(p1.order)
print(p1.product)
print(p1.quantity)
print(p1.price)
print(p1.subtotal)

2
SmartWatch
2
15000
17000

In [7]:
quantity = 5
price = 100

cal=(quantity * price)
print(cal)

500

In [9]:
class cust:
    def __init__(self,name,city,phoneno,adharcardno,productname,orderquantity):
        self.name = name
        self.city = city
        self.phoneno = phoneno
        self.adharcardno = adharcardno
        self.productname = productname
        self.orderquantity = orderquantity
        
        
        
k1 = cust("Ramnikbhai","Ahemdabad","8849578746","#111","T.V","2"
          )   


print(k1.name)
print(k1.city)
print(k1.phoneno)
print(k1.adharcardno)
print(k1.productname)
print(k1.orderquantity)

Ramnikbhai
Ahemdabad
8849578746
#111
T.V
2

In [12]:
import pandas as pd

data = pd.DataFrame({'date':['2021-01-25','2021-01-22','2021-01-20','2021-01-18','2021-01-17','2021-01-16'],
                     'odrder':["t.v","laptop","headphone","mobilephone","smartphone","bluetooth"],
                      'name': ["khushbu","Akansha","Preeti","Prachi","vijay","savi",]
                    })

data.sort_values(by='date')
print(data)

         date       odrder     name
0  2021-01-25          t.v  khushbu
1  2021-01-22       laptop  Akansha
2  2021-01-20    headphone   Preeti
3  2021-01-18  mobilephone   Prachi
4  2021-01-17   smartphone    vijay
5  2021-01-16    bluetooth     savi

In [15]:
import pandas as pd

data = pd.DataFrame({'date':['2021-01-25','2021-01-22','2021-01-20','2021-01-18','2021-01-17','2021-01-16'],
                     'odrder':["t.v","laptop","headphone","mobilephone","smartphone","bluetooth"],
                      'name': ["khushbu","Akansha","Preeti","Prachi","vijay","savi",]
                    })

data.sort_values(by = "date")
print(data)

         date       odrder     name
0  2021-01-25          t.v  khushbu
1  2021-01-22       laptop  Akansha
2  2021-01-20    headphone   Preeti
3  2021-01-18  mobilephone   Prachi
4  2021-01-17   smartphone    vijay
5  2021-01-16    bluetooth     savi

In [16]:
from datetime import datetime

# List of orders with date information
orders = [
    {"order_id": 1, "date": "2023-08-15"},
    {"order_id": 2, "date": "2023-07-25"},
    {"order_id": 3, "date": "2023-08-02"},
    # ... more orders ...
]

# Function to convert date string to datetime object
def convert_date(date_str):
    return datetime.strptime(date_str, "%Y-%m-%d")

# Filter orders for the current month
current_month = datetime.now().month
filtered_orders = [order for order in orders if convert_date(order["date"]).month == current_month]

# Printing the filtered orders
for order in filtered_orders:
    print(f"Order ID: {order['order_id']}, Date: {order['date']}")

Order ID: 1, Date: 2023-08-15
Order ID: 3, Date: 2023-08-02

In [17]:
from datetime import datetime

# List of orders with date information
orders = [
    {"order_id": 1, "date": "2023-08-15"},
    {"order_id": 2, "date": "2023-07-25"},
    {"order_id": 3, "date": "2023-08-02"},
    # ... more orders ...
]

# Function to convert date string to datetime object
def convert_date(date_str):
    return datetime.strptime(date_str, "%Y-%m-%d")

# Filter orders for the current month
current_month = datetime.now().month
filtered_orders = [order for order in orders if convert_date(order["date"]).month == current_month]

# Printing the filtered orders
for order in filtered_orders:
    print(f"Order ID: {order['order_id']}, Date: {order['date']}")

Order ID: 1, Date: 2023-08-15
Order ID: 3, Date: 2023-08-02

In [18]:
import pandas as pd 

data = pd.DataFrame({'productname':["T.V","Laptop","Headphone","Bluetooth","Speeker","charger"],
                     'orderquantity':["2","1","5","4","7","4"]})

print(data)

  productname orderquantity
0         T.V             2
1      Laptop             1
2   Headphone             5
3   Bluetooth             4
4     Speeker             7
5     charger             4